<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Employee Info</h2>
            <p>
                Name            : <%= formInput.firstName %> <%= formInput.lastName %> <br>
                Username        : <%= formInput.userName %><br>
                email           : <%= formInput.email %><br>
                Date of Birth   : <%= formInput.dob %><br>
                Gender          : <%= formInput.gender %><br>
                Employee Code   : <%= formInput.employeeCode %><br>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
